body {
  font-family: 'Montserrat';
  font-size: 12px;
  background-color: #82a8e5;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds-light.png');
  color:white;
 }


header {
  font-family: 'Montserrat';
  font-size: 10px;
  padding: 10px;
  color: white;
  background-color: black;
  clear: left;
  text-align: left;
  border-radius: 20px 20px 0px 0px;
  width: 96%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
}

span  {
  font-family: 'Special Elite';
  font-size: 40px;
}


#navleft {
  height: 100%;
  float: left;
  width: 25%;
  margin: 0;
  padding: 2%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 80px; /* Stay at the top */
  left: 0;
}

#navright {
  height: 100%;
  max-width: 25%;
  padding: 2%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 100px; /* Stay at the top */
  right: 0;
}

#me {
  height:150px;
  width:150px;
  border-radius: 50%;
  filter: grayscale(200%);
  border: 2px solid white;
}

#me:hover {
  filter: grayscale(0%);
}
.circleimage {
  height:100px;
  width:100px;
  border-radius: 50%;
  filter: grayscale(200%);
  border: 2px solid white;
}

.circleimage:hover {
  filter: grayscale(0%);
}

article {
  margin-left: 25%;
  margin-right: 25%;
  overflow: hidden;
  margin-top: 100px;
  padding-right: 5%;
}

.title1{
  font-family: monospace;
  width:100%;
  border-radius: 8px;
  background-color: white;
  opacity: 0.5;
  color: black;
  padding: 10px 10px;
}

.title1:hover {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

/* .cv {
  display:none;
} */


.title{
    font-family: monospace;
    width:100%;
    border-radius: 8px;
    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 10px 10px;
  }

  .title:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    cursor: pointer;
  }
}

.title3{

}

.button {
  font-family: monospace;
  width:80%;
  border-radius: 8px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px 10px;
}

.button:hover {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

.HideShowbutton {
  font-family: monospace;
  width:48%;
  border-radius: 8px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px 10px;
  float: right;
}

.HideShowbutton:hover {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}
