body {
  font-family: 'Montserrat';
  font-size: 12px;
  background-color: #82a8e5;
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds-light.png');
  color:white;
 }

header {
  font-family: 'Montserrat';
  font-size: 10px;
  padding: 5px;
  color: white;
  background-color: black;
  clear: left;
  text-align:center;
  border-radius: 20px 20px 0px 0px;
  width: 96%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
}

footer {
  font-family: 'Montserrat';
  font-size: 10px;
  padding: 5px;
  color: white;
  background-color: black;
  clear: left;
  text-align:center;
  border-radius: 0px 0px 20px 20px ;
  width: 96%;
  position: fixed;
  z-index: 1; /* Stay on top */
  bottom: 10px; /* Stay at the top */
}

span  {
  font-family: 'Special Elite';
  font-size: 30px;
}

article {
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 100px;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 5%;
  text-align: justify;
}

#navright {
  text-align: justify;
  height: 90%;
  float: left;
  width: 20%;
  margin: 0;
  padding-top: 2%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 50px; /* Stay at the top */
  right: 0;
}

#navleft {
  width: 28%;
  text-align: justify;
  padding: 2%;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 20px; /* Stay at the top */
  left: 0;
}
/*
#navleftdown {
  width: 25%;
  padding-left: 2%;
  padding-top: 250px;
  position: static;
  left: 0
}
*/

#me {
  height:150px;
  width:150px;
  border-radius: 50%;
  filter: grayscale(200%);
  border: 2px solid white;
}

#me:hover {
  filter: grayscale(0%);
}
.circleimage {
  height:100px;
  width:100px;
  border-radius: 50%;
  filter: grayscale(200%);
  border: 2px solid white;
}

.circleimage:hover {
  filter: grayscale(0%);
}
.circleimagesmall{
  margin-top: 2%;
  height:60px;
  width:60px;
  border-radius: 50%;
  filter: grayscale(200%);
  border: 2px solid white;
}

.circleimagesmall:hover {
  filter: grayscale(0%);
}

/* .cv {
  display:none;
} */


.cvButton{
  font-family: monospace;
  text-align: left;
  width:100%;
  border-radius: 8px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px 10px;
  }

.cvButton:hover {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  }

/*
.title2  {
  font-family: 'Montserrat';
  font-size: 12px;
}

.title3 {
  font-family: 'Montserrat';
  font-size: 10px;
}

.li {
  font-size: 10px;
}
*/

.button {
  font-family: monospace;
  text-align: left;
  width:80%;
  border-radius: 8px;
  background-color: black;
  border: 2px solid white;
  color: white;
  padding: 10px 10px;
}

.button:hover {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}

.HideShowbutton {
  margin: 2%;
  font-family: monospace;
  text-align: center;
  width:50px;
  height: 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  display: block;
  float: right;
}

.HideShowbutton:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
  cursor: pointer;
}
